# Python specific
**/__pycache__
**/*.pyc

# Virtual environments
venv/
.venv/
ENV/
db.sqlite3
.env

# Git
.git
.gitignore

# Project specific
README.md

# Frontend
# builded in local development, using static files from backend

frontend/